:root{
    
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  

}
#row{
    display: flex;
    flex-wrap: wrap;
}

img{
    vertical-align: middle;
    max-width: 100%;
    
}
.outer-shadow{
    box-shadow: var(--outer-shadow);
}
.inner-shadow{
    box-shadow: var(--inner-shadow);
}
.about-section{
    min-height: 80vh;
    padding: 80px 0 0;

}
.about-section .about-img{
    flex: 0 0 50%;
    height: 415px;
    max-width: 50%;
    padding: 0 5px;
}
.about-section .about-img .img-box{
    padding: 5px;
    border-radius: 5px;
    height: 415px;

}
.about-section .about-img img{
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 5px;
}
.about-section .about-info{
    flex: 0 0 50%;
   
    max-width: 50%;
    padding: 0 10px;
    font-family: montserrat;
    color: #25282b;
    letter-spacing: 1px;
}
#title{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    
}
.about-section .about-info p{
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 26px;
    color: var(--text-black-600);
}

.about-section .about-info span{
    font-weight: 600;
    color: var(--text-black-600);
}

#progressbar {
    margin-top: 3px;
    overflow: hidden;
    color: lightgrey;
    margin-bottom: 3px;
    
}

#tagline-text{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 500;
}
#user-name{
    font-size: 20px;
    color: #25282b;
}

 .action-button {
    width: 130px;
    background: #ff00ff;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 8px;
    cursor: pointer;
    padding: 2px 5px;
    margin: 10px 0px 10px 5px;
    float: left;
}

.action-button:hover,
.action-button:focus {
    background-color: purple;
}

.tab1{
   
    font-size:20px;
    font-family: montserrat;
    color: #25282b;
    letter-spacing: 1px;
    font-weight: 500;

}

.tab1:hover,
.tab1:focus {
    color: #ff00ff;
}

.tab-cont{
    font-size:20px;
    font-family: montserrat;
    color: #25282b;
    letter-spacing: 1px;
    font-weight: 600;
}