* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

p {
    padding-top: 10px;
    color: gray;
}

#heading {
    text-transform: uppercase;
    color: #ff00ff;
    font-weight: normal;
    
}

#msform {
    text-align: center;
    position: relative;
    width: 100%;
    
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 5px;
    position: relative;

    
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: flex;
}

#msform input,
#msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #25282b;
    background-color: #ECEFF1;
    font-size: 16px;
    letter-spacing: 1px
}

#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #ff00ff;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #ff00ff;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: purple;
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative;

  
}

.fs-title {
    font-size: 20px;
    color: #ff00ff;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #ff00ff;
    font-weight: normal
}

.steps {
    font-size: 20px;
    color: grey;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

#progressbar {
    margin-top: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff00ff;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff00ff;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #ff00ff;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

#card-text{
    margin-bottom: 25px;
  
    width: 100%;
    font-family: montserrat;
    color: #25282b;
    background-color: #ffffff;
    font-size: 16px;
    letter-spacing: 1px

}
#card-text .category{
    margin-top: 2px;
    color: grey;
    font-weight: bold;
    

}

#card-text a{
    margin-top: 5px;
    font-family: montserrat;

}

#card-text .card-button{
    width: 150px;
    background: white;
    font-weight: bold;
    color: black;
    margin-right: 150px;
    border-radius: 7px;
    border-color: #ff00ff;
    cursor: pointer;
    
}

#card-text .card-button:hover,
#card-text .card-button:focus {
    background-color: purple;
}